/* h1, h2, h3, h4, h5, h6, p{
    margin-left: 200px;
    margin-right: 200px;
}
p{
    font-size: 11px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin-auto;
    width: 500px;;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

h1{
    font-size: 21px;
    line-height: 24px;
    margin-top: auto;
    margin-bottom: auto
}

h2{
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 28px;
    margin-top: 12px
}
h3{
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 28px;
    margin-top: 4px
}

.grey{
    color: grey;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 52px;
}

.grey > a{
    color: gray;
}
.grey > a:hover{
    color: blue;
}

img{
    display: block;
    max-height: 200px;
    margin-top: 38px;
    margin-bottom: 10px;
    margin: auto;
    filter: saturate(0.7);
} */
